body {
  background-image: linear-gradient( 
    rgba(248, 0, 166, 0.5),
    rgba(162, 2, 233, 0.5),
    rgba(9, 1, 255, 0.5));
  min-height: 100%;
  margin: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  overflow-y: auto;
  scroll-behavior: smooth;
  position: relative;
  gap: 20px;
}




.topnav {
  background-color: #f4ecf7;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}